$mobile: 592px;
$tablet: 768px;
$dekstop: 992px;


@mixin mobile{
    @media(max-width: $mobile){
        @content;
    }
}

@mixin tablet{
    @media(max-width: $tablet){
        @content;
    }
}

@mixin dekstop{
    @media(max-width: $dekstop){
        @content;
    }
}
